

/* Add padding to the body to prevent overlap */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.main-content {
  margin: 10px 40px; /* Adjust this value to prevent content from hiding behind the header */
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Styling for video list */
.video-list {
  display: flex;
  flex-direction: column;
}

.video-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.button-play {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button-play:hover {
  background-color: #d40813;
}
